*{
	box-sizing: border-box;
}

body{
	margin: 0; /*default e 8px*/
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
}

header{
	height: 60px;
	border-bottom: 1px #ccc solid;	
}

header img{
	margin-top: 12px; 
}

.container{
	margin: 0 auto;
	width: 1200px;
	padding-left: 15px;
	padding-right: 15px;	
}

#planos{
	padding: 80px 0;
}

article{
	padding: 10px;
	border: 1px solid #95a4a5;	
	width: 370px;			
}

article > h2{
	background-color: #95a4a5;
	color: #fff;
	text-align: center;
	line-height: 2.5; 
	margin: -10px;
	margin-bottom: 0;
	font-weight: normal;
	font-size: 28px;
}

article > div{
	text-align: center;
	font-size: 28px;
	margin: 20px 0;
}

article > ul{
	list-style: none;
	padding: 0;
	margin: 20px 0;
}

article > ul > li{
	text-align: center;
}

article > footer{
	text-align: center;
}